<%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/nav.ejs')%>
    <main>
        <% if( products.length > 0){ %>
            <ul>
                <%  products.forEach(prod =>{ %>
                    <li>
                        <p><%= prod.productData.title%> (<%= prod.qty%>)</p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" name="productId" value="<%=prod.productData.id%>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %> 
            </ul>
        <% }else{ %>
        <h1>No Product in the Cart!</h1>
        <% } %> 
    </main>
    <%- include('../partials/end.ejs')%>